.title {
	font-family: 'La Belle Aurore', cursive;
	text-align: center;
	font-size: 72px;
	color: indigo;
	margin-top: -10px;
}

.container {  
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	padding: 4px;
	}

.row {
  flex: 25%;
  max-height: 25%;
  padding: 0px 4px;
}

.row img {
  vertical-align: : middle;
  width: 95%;
  margin: 6px 0px 6px 0px;
}

img {
	background-color: white;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 4px;
  	-webkit-filter: sepia(90%) hue-rotate(230deg);
  	transition: all .2s ease-in-out;
	}

img:hover {
	-moz-box-shadow: 0 0 25px #ccc;
    -webkit-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #ccc;
	filter: grayscale(0%);
	filter: saturate(150%);
	-ms-transform: scale(0.95);
  	-webkit-transform: scale(0.95);
	transform: scale(0.95);

}

body {
	background-image: url("texture.png");
	background-size: 100%;
	background-color: rgba(152, 66, 211, 0.63);
	background-blend-mode: soft-light;
}
